<div id="main">
  <div id="top-row sign-in">
    <div id="signin-header">
      <h1>Sign In</h1>
    </div>
    <form action="/sign-in" method="POST" id="signin-form">
      <input type="hidden"   name="authenticity_token" value="<%= form_authenticity_token %>"/>
      <input type='text'     name="user[email]" placeholder="E-mail Address">
      <input type="password" name="user[password]" placeholder="Password">
      <div id="signin-button">
        <button type="submit" id="submit">Sign In</button>
      </div>
    </form>
  </div>
  <div id="new-user">
    New user? <%= link_to "Sign up today!", sign_up_path %>
  </div>
</div>
