<div class="banner">
  <h1>Pet Where You Live</h1>
  <form action="<%= map_path %>" method="get" class="map-search" id="map-search">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input name="address" id="address" type="text" value="" placeholder = "Type an address to find its PetScore!">
    <button id="search-button" class="fa fa-search" type="submit"></button>
  </form>
</div>

<div class="body-container" id="about-pp">
  <h2>What Is PetPointer?</h2>
  <h3>PetPointer calculates the pet-friendliness of any address based on four factors:</h3>
  <div id="categories">
    <div class="category">
      <h4 class="cat-name">Parks</h4>
      <div class="cat-image"></div>
      <p class="cat-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="category">
      <h4 class="cat-name">Pet Services</h4>
      <div class="cat-image"></div>
      <p class="cat-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="category">
      <h4 class="cat-name">Property Size</h4>
      <div class="cat-image"></div>
      <p class="cat-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="category">
      <h4 class="cat-name">Noise</h4>
      <div class="cat-image"></div>
      <p class="cat-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
 </div>

 <div class="body-container" >
   <h2> Users' Favorites </h2>
   <div id="examples">
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
   </div>
 </div>

 <div class="body-container">
   <h2> Top-Rated Properties </h2>
   <div id="examples">
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
     <div class="top-property">
       <img class="top-property-image"></img>
     </div>
   </div>
 </div>

 <div id="footer">
   <h2> Footer: details about site creators, technologies used, APIs called, etc. </h2>
 </div>

</div>
