
<div class = "banner">
  <h1>Pet Where You Live</h1>
  <div class = "input">
    <i class="fa fa-search"></i>
    <input type="text" value="Find Your Pet Score Here!"><br>

  </div>

</div>


<div class = "container">

 <div class = "info">
   <h2>What Is Pet Pointer?</h2>

    <div class = "section">
      <div class = "info1">
        <p>
          Column 1
        </p>
      </div>
      <div class = "info2">
        <p>
          Column 2
        </p>
      </div>
      <div class = "info3">
        <p>
          Column 3
        </p>
      </div>
    </div>
 </div>


 <div class = "aboutme">

 </div>

</div>
