<h1>Yelp Results</h1>

<div id="search-panel">
  <form action="/yelp" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input id="address" type="text" name="address" value="" placeholder = "Type Address Here!">
    <select name="term">
      <option value="veterinary">Veterinary</option>
      <option value="park"      >Park</option>
      <option value="pet store" >Pet Store</option>
    </select>
    <button type="submit">Go</button>
  </form>
</div>

<ol>
  <% @results.each do |r| %>
    <li><%=r["name"]%>: <%=r["location"]["address"]%> / Rating: <%=r["rating"]%></li>
    <br>
  <% end %>
</ol>
