<div id="main">
  <div id="top-row sign-up">
    <div id="signup-header">
      <h1>Sign Up</h1>
    </div>
    <form action="/users" method="POST" id="signup-form">
      <input type="hidden"   name="authenticity_token" value="<%= form_authenticity_token %>"/>
      <input type='text'     name="user[username]" placeholder="Username">
      <input type='text'     name="user[email]" placeholder="E-mail Address">
      <input type="password" name="user[password]" placeholder="Password">
      <input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
      <div id="signup-button">
        <button type="submit" id="submit">Create Account</button>
      </div>

    </form>
  </div>
  <div id="existing-user">
    If already a user, <%= link_to "Sign In!", sign_in_path %>
  </div>
</div>
