ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

@mixin search-result {
  border-top: 1px solid gray;
  font-size: 18px;
  // height: 70px;
  margin: 0px;
  padding-left:20px;
  padding-top:10px;
}
