$nav-height: 27px;
$search-panel-height: 50px;

#search-panel {
  border:1px solid #ccc;
  background:#e5e5e5;
  height: $search-panel-height;

  #map-search {
    @include outer-container;

    #address, #search-button {
      float: left;
      margin: 5px 0 2px 0;
    }

    #address {
      @include span-columns(8);
      @include shift(1);
      height: 80%;
    }

    #search-button {
      @include span-columns(2);
      text-align: center;
      padding: 10px;
    }
  }
}

#ajax-response {
  height: auto;
  width: auto;
}

.content-body {
  height: calc(100vh - #{$nav-height} - #{$search-panel-height});

  #map, #right-panel {
    height: 100%;
    float: left;
  }

  #map {
    width: 42vw;
    margin-right: 35px;
  }
}

#right-panel {
overflow: scroll;
width: 48.5vw;

  // REMOVE THIS ONCE ALL SCORES ARE DYNAMICALLY GENERATED
  #total-score, #sqft-score, #noise-score {
    color: #1565c0;
  }
  // REMOVE THIS ONCE ALL SCORES ARE DYNAMICALLY GENERATED

  .rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;

    .rating-input {
      float: right;
      width: 16px;
      height: 16px;
      padding: 0;
      margin: 0 0 0 -16px;
      opacity: 0;
    }

    .rating:hover .rating-star:hover,
    .rating:hover .rating-star:hover ~ .rating-star,
    .rating-input:checked ~ .rating-star {
      background-position: 0 0;
    }

    .rating-star,
    .rating:hover .rating-star {
      position: relative;
      float: left;
      display: block;
      width: 16px;
      height: 16px;
      margin-top: 32px;
      background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
    }
  }

  h1 {
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
    color: #1565c0;
  }

  p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-family: 'Nunito', sans-serif;
    color: #1565c0;
  }

  #petpointlogo section {
    @include outer-container;
    margin-top:10px;
    padding-bottom:10px;
    text-align: center;

    article, aside {
      // float: left;
    }

    article {
      @include span-columns(9);
      width: 94.41059%;

      p, #total-score {
        // float: right;
      }

      p {
        font-size: 20px;
        // margin-top: -25px;
      }

      #total-score {
        font-size: 90px;
        font-family: 'Nunito', sans-serif;

        // padding-left: 10px;
      }

      #logo-div {
        background-image: url("petlogo.png");
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -174px;
        z-index: -1;
        opacity: .8;
      }
    }

    aside {
      @include span-columns(3);
    }
  }

  #search-results-list section {
    @include outer-container;
    @include search-result;

    &:nth-child(2n) {
        background-color:#EDEDED;
    }

    aside {
      @include span-columns(8);
      @include expander;

      ul {
        a#zillow-logo img {
          padding: 10px 0;
        }

        a#yelp-logo img {
          padding: 10px 0;
          margin-left: 34px;
          height: 50px;
          width: 150px;
        }
      }
    }

    article {
      @include span-columns(4);
      padding: 0px 15px 5px 0px;

      .score-container {
        float: right;
      }

      .sub-score {
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
}

#zillow-disclaimer {
  font-size: 12px;
  padding-top: 10px;

  span, a {
    float: right;
    padding-left: 5px;
  }
}
