$nav-height: 27px;
$search-panel-height: 50px;

#search-panel {
  border:1px solid #ccc;
  background:#e5e5e5;
  height: $search-panel-height;

  #map-search {
    @include outer-container;

    #address, #search-button {
      float: left;
      margin: 5px 0 2px 0;
    }

    #address {
      @include span-columns(8);
      @include shift(1);
      height: 80%;
    }

    #search-button {
      @include span-columns(2);
      text-align: center;
      padding: 10px;
    }
  }
}

#ajax-response {
  height: auto;
  width: auto;
}

.content-body {
  height: calc(100vh - #{$nav-height} - #{$search-panel-height});

  #map, #right-panel {
    height: 100%;
    float: left;
  }

  #map {
    width: 42vw;
    margin-right: 35px;
  }
}

#right-panel {
overflow: scroll;
width: 48.5vw;

  h1 {
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    margin-bottom: 0;
  }

  p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  #petpointlogo section {
    @include outer-container;
    margin-top:35px;
    padding-bottom:10px;

    article, aside {
      float: left;
    }

    article {
      @include span-columns(9);

      p, #total-score {
        float: right;
      }

      p {
        font-size: 20px;
      }

      #total-score {
        font-size: 90px;
        padding-left: 10px;
      }
    }

    aside {
      @include span-columns(3);
    }
  }

  #search-results-list section {
    @include outer-container;
    @include search-result;

    &:nth-child(2n) {
        background-color:#EDEDED;
    }

    aside {
      @include span-columns(8);
      @include expander;

      ul {
        a#zillow-logo img {
          padding: 10px 0;
        }
      }
    }

    article {
      @include span-columns(4);
    }
  }
}

#zillow-disclaimer {
  font-size: 12px;
  padding-top: 10px;

  span, a {
    float: right;
    padding-left: 5px;
  }
}
