html, body {
  margin: 0px;
}

body {
  background-color: white;
}

.banner {
  text-align: center;
  height: 500px;
  margin: 0px;
  background-image: url("/assets/dog.jpg")  ;
  background-size: cover;

  h1 {
    margin:auto 0;
    padding-bottom: 40px;
    padding-top: 90px;
    color: white;
    font-weight: 900;
    font-size: 50px;
  }

  #map-search {
    @include outer-container;
    width: 560px;
    margin: auto;
    padding: 8px 0 8px 0;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.75);

    #address, #search-button {
      float: left;
      margin: 5px 0 4px 0;
    }

    #address {
      @include span-columns(8);
      @include shift(1);
      height: 80%;
    }

    #search-button {
      @include span-columns(2);
      text-align: center;
      font-size: 18px;
      padding: 8px;
      margin-top: 6px;
    }
  }
}

.container {
  @include outer-container;

  .info {
  @include span-columns(6);
  height:700px;

    h2 {
      text-align: center;
      margin-top: 0px;
      padding-top: 50px;
    }
  }
}

.aboutme {
  height: 700px;
  background-color: red;
}
