<div id="search-panel">
  <form class="map-search" id="map-search">
    <input id="address" type="textbox" value="" placeholder = "Type Address Here!">
    <input id="submit" type="submit" value="Go!" >
  </form>
</div>

<div class="content-body">
  <div id="map">
  </div>
  <ul class="search-results-list" id="search-results-list">
    <div class="ajax-response" id="ajax-response">

    </div>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
  </ul>
</div>
