<div id="search-panel">
  <form action="/yelp/search" method="get" class="map-search" id="map-search">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input id="address" type="text" name="address" value="<%= params[:address] %>" placeholder = "Type Address Here!">
    <button id="search-button" type="submit">Go</button>
  </form>
</div>

 <div class="content-body">
   <div id="map">
   </div>
   <div class="ajax-response" id="ajax-response">
   </div>

    <div id = "right-panel">
      <h1>Your PetPointer Score!</h1>
      <div class = "petpointlogo">
        <section>
          <aside>
              <img src = "assets/petlogo.png" />
          </aside>
          <article>
            <form id="form" method="post" action="">
              <!-- <input type="checkbox" name="checkbox" class="checkbox"/>
              <span>☆</span> -->
              <span class="rating">
                <input type="checkbox" class="rating-input" id="rating-input" name="rating-input">
                <label for="rating-input" class="rating-star"></label>
              </span>
            </form>
            <p>
              Toco Gives This Location
            </p>
            <p>
              A Petscore Of:
            </p>
            <p>
              8 (out of 10)
            </p>
          </article>
        </section>
      </div>

    <p>
      Here Are More Details About Your Pet Score!
    </p>


      <div class="search-results-list" id="search-results-list">
        <section>
          <aside>
            <div class="expander">
              <a href="javascript:void(0)" class="expander-trigger expander-hidden">Parks(1st One)</a>
              <div class="expander-content">
                <ul>
                  <li>
                    List of Stores
                  </li>
                  <li>
                    Grocery
                  </li>
                  <li>
                    Eggs
                  </li>
                  <li>
                    FrozenIpsum
                  </li>
                  <li>
                    List of Stores
                  </li>
                  <li>
                    Grocery
                  </li>
                  <li>
                    Eggs
                  </li>
                  <li>
                    FrozenIpsum
                  </li>
                </ul>
              </div>
            </div>
          </aside>
          <article>
            <p>
              Parks Score
            </p>
            <p>
              8
            </p>
          </article>
        </section>

        <section>
          <aside>
            <div class="expander">
              <a href="javascript:void(0)" class="expander-trigger expander-hidden">Vets(1st One)</a>
              <div class="expander-content">
                <ul>
                  <li>
                    List of Stores
                  </li>
                  <li>
                    Grocery
                  </li>
                  <li>
                    Eggs
                  </li>
                  <li>
                    FrozenIpsum
                  </li>
                </ul>
              </div>
            </div>
          </aside>
          <article>
            <p>
              Vets Score
            </p>
            <p>
              6
            </p>
          </article>
        </section>


        <section>
          <aside>
            <div class="expander">
              <a href="javascript:void(0)" class="expander-trigger expander-hidden">Pets Services(1st One)</a>
              <div class="expander-content">
                <ul>
                  <li>
                    List of Stores
                  </li>
                  <li>
                    Grocery
                  </li>
                  <li>
                    Eggs
                  </li>
                  <li>
                    FrozenIpsum
                  </li>
                </ul>
              </div>
            </div>
          </aside>
          <article>
            <p>
              Pets Services Score
            </p>
            <p>
              6
            </p>
          </article>
        </section>

        <section>
          <aside>
            <div class="expander">
              <a href="javascript:void(0)" class="expander-trigger expander-hidden">Lot Size Square Footage</a>
              <div class="expander-content">
                <ul>
                  <li>
                    List of Stores
                  </li>
                  <li>
                    Grocery
                  </li>
                  <li>
                    Eggs
                  </li>
                  <li>
                    FrozenIpsum
                  </li>
                </ul>
              </div>
            </div>
          </aside>
          <article>
            <p>
              Lot Size Square Footage Score
            </p>
            <p>
              6
            </p>
          </article>
        </section>


        <section>
          <aside>
            <div class="expander">
              <a href="javascript:void(0)" class="expander-trigger expander-hidden">Interior Square Footage</a>
              <div class="expander-content">
                <ul>
                  <li>
                    List of Stores
                  </li>
                  <li>
                    Grocery
                  </li>
                  <li>
                    Eggs
                  </li>
                  <li>
                    FrozenIpsum
                  </li>
                </ul>
              </div>
            </div>
          </aside>
          <article>
            <p>
              Interior Square Footage Score
            </p>
            <p>
              6
            </p>
          </article>
        </section>

        <section>
          <aside>
            <div class="expander">
              <a href="javascript:void(0)" class="expander-trigger expander-hidden">Other</a>
              <div class="expander-content">
                <ul>
                  <li>
                    List of Stores
                  </li>
                  <li>
                    Grocery
                  </li>
                  <li>
                    Eggs
                  </li>
                  <li>
                    FrozenIpsum
                  </li>
                </ul>
              </div>
            </div>
          </aside>
          <article>
            <p>
              Other
            </p>
            <p>
              6
            </p>
          </article>

        </section>

      </div>

    </div>

  </div>

</div>
