<div id="search-panel">
  <form action="/yelp/search" method="get" class="map-search" id="map-search">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input id="address" type="text" name="address" value="<%= params[:address] %>" placeholder = "Type Address Here!">
    <button id="search-button" type="submit">Go</button>
  </form>
</div>

<div class="content-body">
 <div id="map">
  </div>
    <div class="ajax-response" id="ajax-response">
    </div>

      <div id = "right-panel">
        <h1>Your PetPointer Score!</h1>
        <div class = "petpointlogo">
          <ul>
            <li>
              <img src = "assets/petlogo.png" />
            </li>
            <li>
              <p>
                Toco Gives This Location
              </p>
              <p>
                A Petscore Of:
              </p>
              <p>
                8 (out of 10)
              </p>
            </li>
          </ul>
        </div>

    <p>
      Here Are More Details About Your Pet Score!
    </p>

      <div class="search-results-list" id="search-results-list">
        <ul>
          <li class = "search-result">
            Parks
          </li>
          <li class = "search-result">
            Vets
          </li>
          <li class = "search-result">
            PetServices
          </li>
          <li class = 'search-result'>
            Lot Size Square Footage
          </li>
          <li class = 'search-result'>
            Interior Square Footage
          </li>
          <li class = 'search-result'>
            Other
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>
