<div id="search-panel">
  <form action="/yelp/search" method="get" class="map-search" id="map-search">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input id="address" type="text" name="address" value="<%= params[:address] %>" placeholder = "Type Address Here!">
    <button id="search-button" type="submit">Go</button>
  </form>
</div>

<div class="content-body">
  <div id="map">
  </div>
  <ul class="search-results-list" id="search-results-list">
    <div class="ajax-response" id="ajax-response">
    </div>

    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
    <li class="search-result">Result</li>
  </ul>
</div>
