<!DOCTYPE html>
<html>
<head>
  <title>PetPointer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

  <header class="navigation-centered" role="banner">
    <div class="navigation-centered-wrapper">
      <a href="javascript:void(0)" class="mobile-logo">
        <img src="http://chatabout.com/assets/images/questions/2014/11/546aeb2beda8c.jpg" alt="Logo image">
      </a>
      <a href="javascript:void(0)" id="js-navigation-centered-mobile-menu" class="navigation-centered-mobile-menu">Menu</a>
      <nav role="navigation">
        <ul id="js-navigation-centered-menu" class="navigation-centered-menu show">
          <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
          <li class="nav-link logo">
            <a href="javascript:void(0)" class="logo">
              <img src="http://chatabout.com/assets/images/questions/2014/11/546aeb2beda8c.jpg" alt="Logo image">
            </a>
          </li>
          <li class="nav-link"><a href="javascript:void(0)">Testimonials</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Sign up</a></li>
        </ul>
      </nav>
    </div>
  </header>

<%= yield %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoW2NHGNseaYAfK7bdq29jbC-BGrXamAs" type="text/javascript"></script>

</body>
</html>
